/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import './shared/css/variable.scss';

* {
    font-family: 'Outfit';
}

body {
    margin: 0px;;
}

h4,h5,p {
    margin: 4px;
}

input {
    padding-inline : 6px;
    padding-block: 4px;
    border-radius: 8px;
    border : none;
    background-color: var(--slate-300);
    outline : 1px solid var(--slate-300);
}

input:focus {
    outline : 1px solid var(--slate-500);
}


.text-preset-1 {
    color: var(--slate-900);
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
}

.text-preset-2 {
    color: var(--slate-500);
    font-size: 15px;
    line-height: 140%;
}

.card-shadow {
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 4.77%);;
}

.card {
    background-color: var(--white);
    border-radius: 22px;
    padding : 16px;
}

.container {
    position : relative;
    background-color: var(--slate-300);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
}

.attribution {
    font-size: 0.8rem;
}

.qr-code-content {
    position: relative;
    display: grid;
    background-color: var(--white);
    border-radius : 20px;
    gap: 24px;
    max-width : 288px;
    padding-top : 16px;
    padding-bottom : 40px;
    padding-left : 16px;
    padding-right : 16px;
}

.qr-code-edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--blue-500);
    outline: none;
    border: none;
    border-radius: 100px;
    padding : 5px 6px;
    top: -10px;
    right:-10px;
}

.qr-code-image {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 288px;
    min-height: 288px;
    width: auto;
    height: auto;
    position: relative;
    background-color: var(--blue-600);
}

.qr-code-image-ornament-1 {
    min-width: 328px;
    min-height: 328px;
    background-color: var(--blue-500);
    border-radius: 100%;
    position: absolute;
    left: -45%;
    top : -55%;
    z-index: 1;
}

.qr-code-image-ornament-2 {
    min-width: 270px;
    min-height: 270px;
    background-color: var(--blue-500);
    border-radius: 100%;
    position: absolute;
    right: -40%;
    bottom : -50%;
    z-index: 1;
}

.qr-code-image img {
    width: 100%;
    height: 100%;
    max-width: 160px;
    max-height: 160px;
    z-index: 5;
}

.qr-code-text {
    display: grid;
    text-align: center;
    padding-inline: 16px;
    gap: 16px;
}

.qr-code-text-title {
    margin: 0px;
    color: var(--slate-900);
}

.qr-code-text-subtitle {
    color : var(--slate-500);
}

.edit-data-container {
    position: relative;
}

.edit-data-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--blue-500);
    outline: none;
    border: none;
    border-radius: 100px;
    padding : 3px 4px;
    top: -6px;
    right:-6px;
}

.qr-code-component {
    display: flex;
}

@media screen and (max-width: 768px) {
    .qr-code-component {
        display: grid;
    }
}